@font-face {
    font-family: 'CalSans';
    src: local('CalSansSemiBold'),
        url('../fonts/CalSans-SemiBold.woff2') format('woff2'),
        url('../fonts/CalSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', normal;
    src: local('Popins-SemiBold'),
        url('../fonts/Poppins-SemiBold.ttf') format('ttf'),
        url('/src/fonts/Poppins-Black.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

