.brands {
    margin: 220px auto 0 auto;
    width: 1021px;
    height: 357px;
    text-align: center;
    &_text {
        text-align: center;
        font-family: 'CalSans';
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        color: #121212;
        span {
            color: $main-color;
        }
    }
    &_wrapper {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 143px);
        
        gap: 80px 160px;
    }
}